body {
    font-size: 100%;
    line-height: 1.125em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

pre, tt, code, kbd, samp {
    font-family: Consolas, monaco, monospace;
}

.status-up {
    color: #090;
}
.status-down {
    color: #900;
}

#player-meter {
    border: 1px solid #000;
    height: 1.25em;
    width: 400px;
    background: #333;
}
#meter-bar {
    background: #090;
    color: #fff;
    height: 1.25em;
    overflow: visible !important;
}
#meter-bar.meter-warn {
    color: #000;
    background: #d90;
}
#meter-bar.meter-unknown {
    color: #000;
    background: #cfc;
}
#meter-text {
    height: 1em;
    width: 400px;
    font-size: 0.75em;
}
#num-players {
    position: relative;
    top: 1px;
    left: 1px;
}
#player-meter.meter-down {
    background: #900;
}
abbr {
    border-bottom: 1px dotted #000;
}

.warnmsg {
    color: #9f6000;
    background-color: #feefb3;
    border: 1px solid;
    margin: 10px 0px;
    padding: 5px;
    max-width: 500px;
}