.status-up {
    color: #090;
}
.status-down {
    color: #900;
}

#player-meter {
    border: 1px solid #000;
    height: 1.25em;
    width: 400px;
    background: #333;
}
#meter-bar {
    background: #090;
    height: 1.25em;
    overflow: visible !important;
}
#meter-text {
    color: #fff;
    height: 1em;
    width: 400px;
    font-size: 0.75em;
}
#num-players {
    position: relative;
    top: 1px;
    left: 1px;
}
.meter-down {
    background: #900 !important;
}