{% extends "layout.html" %}
{% block title %}MineCanary{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='jquery.timeago.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.address-1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='moment-1.6.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='punycode.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <h1>Minecraft Server Status</h1>
    <form id="frm">
    <p><label for="server">Server: </label><input type="text" name="server" value=""> <input type="submit" id="golink" value="Check" /> <img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}" width="16" height="16" /></p>
    </form>
    <div id="player-meter">
      <div id="meter-bar" style="width:0%;">
        <div id="meter-text">
          <div id="num-players"></div>
        </div>
      </div>
    </div>
    <p><span id="result"></span></p>
{% endblock %}
