{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='jquery.timeago.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <h1>Minecraft status</h1>
    <form id="frm">
    <p><label for="server">Server: </label><input type="text" name="server" value=""> <input type="submit" id="golink" value="get info" /></p>
    </form>
    <p><span id="result"></span></p>
{% endblock %}
